@import "../home/style.css";
@import "../About/about.css";
.shadow-card {
    box-shadow: 1px 3px 8px var(--shadow);
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--radius);
}

.edu-card {
    display: flex;
    flex-direction: column;
}

.edu-card img {
    width: 100%;
    height: auto;
}

.edu-card p {
    font-weight: bold;
}

.edu-card span {
    columns: var(--light-grey);
    font-size: var(--small-font);
}

.shadow-card img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    transition: all 0.3s ease;
}

.shadow-card:hover img {
    transform: scale(1.1);
}