@import "../home/style.css";
@import "../about/about.css";
@import "../latestnews/latest.css";
.main-img {
    padding: 0 0.5rem;
    margin: 2rem 0;
}

main {
    width: 95%;
    margin: 1rem auto;
}

.main-img img {
    width: 100%;
    height: auto;
}

.blog-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-text {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog-text p {
    line-height: 1.5rem;
}