:root {
    --dark-blue: #0F7AD3;
    --light-blue: #4A3AFF;
    --light-green: #62C2C2;
    --white: #FFFFFF;
    --red: #FF6262;
    --light-grey: #F7F7F7;
    --soft-blue: #FBFBFF;
    --shadow: #6a6a6a1b;
    --large-font: 28px;
    --medium-font: 16px;
    --small-font: 14px;
    --radius: 7px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 1.5rem;
}

.actions {
    display: none;
}

.close {
    display: none;
}

.placeholder {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    transition: all ease 0.2s;
}

.links li a {
    transition: all ease 0.2s;
}

.links li a:hover {
    color: var(--dark-blue);
}

.nav-button {
    border: 2px solid var(--dark-blue);
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    border-radius: var(--radius);
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--medium-font);
    color: var(--dark-blue);
}

.nav-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2rem;
    align-items: center;
    margin: 5rem auto;
}

.hero-img {
    display: block;
    height: 65vh;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%;
}

.get-started-btn {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 0.7rem 1.2rem;
    display: block;
    width: fit-content;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
    transition: all 0.3s ease;
}

.get-started-btn:hover {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    cursor: pointer;
}

.hero-heading {
    font-size: var(--large-font);
}

.red-txt {
    color: var(--red);
    margin: 0 0.4rem 0 0.1rem;
}

.heading {
    margin: 3.5rem auto;
    text-align: center;
}

.heading>h2 {
    color: var(--dark-blue);
    font-size: var(--large-font);
    font-weight: bold;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.services-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--radius);
    overflow: hidden;
}

.services-img {
    display: block;
    object-fit: contain;
    width: 100%;
}

.tag::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: orange;
    margin-right: 3px;
}

.learn-more {
    color: var(--light-blue);
    font-weight: bold;
    text-decoration: underline;
}

.projects-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    font-weight: bold;
}

.projects-nav p:first-of-type {
    color: var(--dark-blue);
    position: relative;
}

.projects-nav p:first-of-type::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    margin-right: 3px;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    margin: 1.5rem 0;
}

.tabs>div {
    height: 5px;
    width: 45px;
    border-radius: var(--radius);
    background-color: var(--light-grey);
    cursor: pointer;
}

.tabs div:nth-of-type(2) {
    background-color: var(--dark-blue);
}

.strategy-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: end;
    padding: 1rem;
    width: 85%;
    margin: auto;
}

.strategy-card {
    box-shadow: 3px 3px 8px var(--shadow);
    justify-self: self-start;
    padding: 1.2rem;
    border-radius: var(--radius);
}

.num {
    text-align: center;
    background-color: #f79c569c;
    color: #f79c56;
    border-radius: 50%;
    width: fit-content;
    padding: 1rem 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.ideas {
    border-bottom: 2px solid var(--dark-blue);
    width: fit-content;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.company-facts {
    background-color: var(--soft-blue);
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: var(--radius);
}

.widgets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 5rem 0;
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.widgets .number {
    font-weight: bold;
    font-size: var(--large-font);
}

.education {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1.5fr));
    overflow-x: auto;
    padding: 0 1.5rem;
    gap: 1rem;
    margin: 1rem auto;
}

.edu-card p {
    font-weight: bold;
}

.edu-card span {
    columns: var(--light-grey);
    font-size: var(--small-font);
}

.accordions {
    background-color: #F7F7FB;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    width: 85%;
    margin: 1rem auto;
    gap: 1rem;
    padding: 3.5rem 1.5rem;
    border-radius: var(--radius);
}

.accordion {
    background-color: var(--white);
    padding: 1.7rem 1rem;
    border-radius: var(--radius);
    transition: all 0.2s ease;
}

.accordion .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: block;
    transition: all 0.2s ease;
}

.content.show {
    display: block;
}

.accordion p {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    background-color: #F7F7FF;
    border-radius: var(--radius);
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0.8rem 0;
}

.accordion p:hover {
    background-color: #6F6C90;
    color: var(--white);
}

.accordion span {
    display: none;
}

.customer-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 0.5rem;
}

.customer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 3px 3px 8px var(--shadow);
    border-radius: var(--radius);
    padding: 0.5rem;
}

@media only screen and (max-width: 1100px) {
    .accordions {
        grid-template-columns: 1fr;
    }
    .hero-img {
        width: 80%;
        margin: 2rem auto;
        height: auto;
    }
    .desc {
        width: 80%;
    }
    .get-started-btn {
        align-self: flex-end;
    }
    .services-card {
        margin: 1rem auto;
    }
    .projects-nav {
        width: 50%;
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 880px) {
    .nav-button {
        display: none;
    }
    .links {
        position: absolute;
        right: -110%;
        bottom: -270%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        background-color: var(--dark-blue);
        color: var(--white);
        padding: 1rem;
        z-index: 98999;
    }
    .links li a {
        color: var(--white);
    }
    .links li a:hover {
        transform: scale(0.9);
    }
    .links.slide {
        right: 0;
    }
    .actions {
        display: block;
    }
    .menu {
        display: block;
        font-size: 22px;
        cursor: pointer;
    }
}